<mat-grid-list cols="6" rowHeight="50px">
  <!--  header row 1-->
  <mat-grid-tile colspan="6" rowspan="1" style="background: white" rowHeight="fit">
      <img mat-card-image src="assets/img/logo/logo-top-header.webp" alt="logo top" width="80%" height="51" style="height: 50px">
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2" rowHeight="fit" style="background: lightblue; height: 50px">
    2 khoảng trống bên ngoài
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2" rowHeight="fit" style="background: lightblue; height: 50px">Tile 2</mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="1" rowHeight="fit" style="background: lightblue; height: 50px">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2" rowHeight="fit" style="background: lightblue; height: 50px">2 khoảng trống bên ngoài</mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="1" rowHeight="fit" style="background: lightblue; height: 50px">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </mat-grid-tile>
</mat-grid-list>
